{% if customer %}
    <p>Hello, {{ customer.first_name }}!</p>
    {% assign path_parts = request.path | split: '/' %}
    {% assign quote_number = path_parts | last %}
    {{ quote_number }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {       
            const quoteNumber = "{{ quote_number }}"; 
            console.log("quoteNumber");
            console.log(quoteNumber);
            {% comment %} fetch('/apps/customer-dashboard/customer/quotes', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'ngrok-skip-browser-warning': 'true'
                },
                body: JSON.stringify({
                    quoteNumber: quoteNumber,
                })
            })
            .then(async res => {
                const text = await res.json();
                console.log('RAW RESPONSE:', text);
                const el = document.getElementById('dashboard-content');
                el.innerHTML = text.data; // Insert HTML snippet from your API
                console.log('RAW RESPONSE:', text.message);
            })
            .catch(err => console.error(err)); {% endcomment %}
        });
    </script>
{% endif %}
{% schema %}
{
  "name": "Quotation",
  "settings": [],
  "presets": [
    {
      "name": "Quotation"
    }
  ]
}
{% endschema %}
