{% if customer %}
    <p>Hello, {{ customer.first_name }}!</p>
    {% assign path_parts = request.path | split: '/' %}
    {% assign quote_number = path_parts | last %}
    <div id="prepare-quote-wrapper">
        
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {       
            const quoteNumber = "{{ quote_number }}"; 
            fetch('/apps/customer-dashboard/customer/fetchquote', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'ngrok-skip-browser-warning': 'true'
                },
                body: JSON.stringify({
                    quoteNumber: quoteNumber,
                })
            })
            .then(async res => {
                const text = await res.json();
                console.log('RAW RESPONSE:', text);
                const el = document.getElementById('prepare-quote-wrapper');
                el.innerHTML = text.data;
            })
            .catch(err => console.error(err));
        });
    </script>
{% endif %}
{% schema %}
{
  "name": "Quotation",
  "settings": [
    {
      "type": "range",
      "id": "margin_top",
      "label": "t:sections.quotation.settings.margin_top.label",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "t:sections.quotation.settings.margin_bottom.label",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "margin_left",
      "label": "t:sections.quotation.settings.margin_left.label",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_right",
      "label": "t:sections.quotation.settings.margin_right.label",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Quotation"
    }
  ]
}
{% endschema %}
