{% if customer %}
    <p>Hello, {{ customer.first_name }}!</p>
    {% if customer.metafields.custom.quotationslists %}
        {% assign quotations = customer.metafields.custom.quotationslists.value %}
        <ul>
            {% for quote in quotations %}
                <li style="display: flex; align-items: center; margin-bottom: 10px;">
                    <!-- Quotation Name Link -->
                    <a href="/pages/quotation/{{ quote.quoteId }}"style="margin-right: 10px;">
                        {{ quote.quoteName }}
                    </a>
                    <!-- Download Button on Left -->
                    <a href="/pages/quotation/{{ quote.quoteId }}/download" 
                        style="text-decoration: none;">
                        <button type="button" style="padding: 5px 10px; cursor: pointer;">
                        Download
                        </button>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% comment %} <script>
        document.addEventListener('DOMContentLoaded', function () {        
            fetch('/apps/customer-dashboard/customer/quotes', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'ngrok-skip-browser-warning': 'true'
                },
                body: JSON.stringify({
                action: 'add_points',
                points: 50
                })
            })
            .then(async res => {
                const text = await res.json();
                console.log('RAW RESPONSE:', text);
                const el = document.getElementById('dashboard-content');
                el.innerHTML = text.data; // Insert HTML snippet from your API
                console.log('RAW RESPONSE:', text.message);
            })
            .catch(err => console.error(err));
        });
    </script> {% endcomment %}
{% endif %}
{% schema %}
{
  "name": "Quotations",
  "settings": [],
  "presets": [
    {
      "name": "Quotations"
    }
  ]
}
{% endschema %}
