{% if customer %}
    <p>Hello, {{ customer.first_name }}!</p>
    {% assign path_parts = request.path | split: '/' %}
    {% assign quote_number = path_parts | last %}
    <div class="page-width">
        <div id="prepare-quote-wrapper">

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {       
            const quoteNumber = "{{ quote_number }}"; 
            fetch('/apps/customer-dashboard/customer/fetchquote', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'ngrok-skip-browser-warning': 'true'
                },
                body: JSON.stringify({
                    quoteNumber: quoteNumber,
                })
            })
            .then(async res => {
                const text = await res.json();
                console.log('RAW RESPONSE:', text);
                const el = document.getElementById('prepare-quote-wrapper');
                el.innerHTML = text.data;
            })
            .catch(err => console.error(err));
        });
    </script>
{% endif %}
{% schema %}
{
  "name": "Quotation",
  "settings": [],
  "presets": [
    {
      "name": "Quotation"
    }
  ]
}
{% endschema %}
