<div class="main-page-wrapper" id="main-page-wrapper">
{% if customer %}
    {% if customer.metafields.custom.quotationslists %}
        {% assign quotations = customer.metafields.custom.quotationslists.value %}
        {% assign path_parts = request.path | split: '/' %}
        {% assign quote_number = path_parts | last %}
        {% assign selected_quote = quotations | where: "quoteId", quote_number | first %}
        {% if selected_quote %}
            {% assign selected_quote_json = selected_quote | json | replace: '\/', '/' %}
            {% assign secret = 'GBIOTFfgTECxHULMbbWSSZYUQAzxuGWaztyWPOL' %}
            {% assign signature = selected_quote_json | hmac_sha256: secret %}

            <div class="page-width">
                <div class="prepare-quotation-wrapper">
                    <p>Hello, {{ customer.first_name }}!</p>
                    <div id="prepare-quote-wrapper">

                    </div>
                </div>
            </div>
            <script>
                function fetchQuoteDetails() {
                    const quoteNumber = "{{ quote_number }}"; 
                    fetch('/apps/customer-dashboard/customer/quote', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'ngrok-skip-browser-warning': 'true'
                        },
                        body: JSON.stringify({
                            action: 'fetch_quote',
                            quoteNumber: quoteNumber,
                        })
                    })
                    .then(async res => {
                        const text = await res.json();
                        if(text.status) {
                            const el = document.getElementById('prepare-quote-wrapper');
                            el.innerHTML = text.data;
                        }
                    })
                    .catch(err => console.error(err));
                }
                document.addEventListener('DOMContentLoaded', function () {  
                    fetchQuoteDetails();     
                });

                document.addEventListener('click', function(e) {
                    if (e.target.classList.contains('qty-btn')) {
                        const wrapper = e.target.closest('.quantity__wrapper');
                        const input = wrapper.querySelector('input[type="number"]');
                        let currentValue = parseInt(input.value);

                        if (e.target.classList.contains('plus')) {
                            input.value = currentValue + 1;
                        }

                        if (e.target.classList.contains('minus')) {
                            input.value = currentValue > 1 ? currentValue - 1 : 1;
                        }
                        input.setAttribute('value', input.value);
                    }
                    
                    if (e.target.matches(".update-quote-btn")) {
                        const quoteNumber = "{{ quote_number }}"; 
                        // Fetch All lis
                        const allLis = document.querySelectorAll("#product-grid li");

                        // Map all the details
                        const quoteDetails = Array.from(allLis).map(li => {
                            const priceInput = li.querySelector(".price");
                            const quantityInput = li.querySelector(".quantity");

                            return {
                                class: li.className,
                                price: priceInput ? parseFloat(priceInput.value) : 0,
                                quantity: quantityInput ? parseInt(quantityInput.value) : 1
                            };
                        });

                        fetch('/apps/customer-dashboard/customer/quote', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'ngrok-skip-browser-warning': 'true',
                                'X-Signature': "{{ signature }}"
                            },
                            body: JSON.stringify({
                                action: 'update_quote',
                                quoteNumber: quoteNumber,
                                quoteDetails: quoteDetails
                            })
                        })
                        .then(async res => {
                            const text = await res.json();
                            console.log("text");
                            console.log(text);
                            if(text.status) {
                                const set1 = document.getElementById('prepare-quote-wrapper');
                                console.log("set");
                                console.log(set1.innerHTML);
                                {% comment %} const url = new URL(window.location.href);
                                const response = await fetch(url.toString(), {
                                    headers: {
                                        'X-Requested-With': 'XMLHttpRequest'
                                    }
                                });

                                if (!response.ok) {
                                    console.error('Failed to refresh section', response.statusText);
                                    return;
                                }

                                const html = await response.text();

                                const parser = new DOMParser();
                                const doc = parser.parseFromString(html, 'text/html');
                                const newSection = doc.getElementById('main-page-wrapper');
                                const el = document.getElementById('main-page-wrapper');
                                el.innerHTML = newSection.innerHTML;
                                const set = document.getElementById('prepare-quote-wrapper');
                                set.innerHTML = text.data; {% endcomment %}
                            }
                        })
                        .catch(err => console.error(err));
                    }
                });

            </script>
        {% endif %}
    {% endif %}
{% endif %}
</div>
{% schema %}
{
  "name": "Quotation",
  "settings": [],
  "presets": [
    {
      "name": "Quotation"
    }
  ]
}
{% endschema %}
