{% if template.name == 'page' and page and page.handle == 'secret-page' and customer == nil %}
  <meta http-equiv="refresh" content="0;url={{ routes.root_url }}">
  <script>
    window.location.replace('{{ routes.root_url }}');
  </script>
{% endif %}
{% if customer %}
  <p>Hello, {{ customer.first_name }}!</p>

{% endif %}
{% schema %}
{
  "name": "Quotations",
  "settings": [],
  "presets": [
    {
      "name": "Quotations"
    }
  ]
}
{% endschema %}
