{% if customer %}
    <p>Hello, {{ customer.first_name }}!</p>
    {% if customer.metafields.custom.quotationslists %}
        <p>Your VIP level: {{ customer.metafields.custom.quotationslists.value }}</p>
    {% endif %}
    {% comment %} <script>
        document.addEventListener('DOMContentLoaded', function () {        
            fetch('/apps/customer-dashboard/customer/quotes', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'ngrok-skip-browser-warning': 'true'
                },
                body: JSON.stringify({
                action: 'add_points',
                points: 50
                })
            })
            .then(async res => {
                const text = await res.json();
                console.log('RAW RESPONSE:', text);
                const el = document.getElementById('dashboard-content');
                el.innerHTML = text.data; // Insert HTML snippet from your API
                console.log('RAW RESPONSE:', text.message);
            })
            .catch(err => console.error(err));
        });
    </script> {% endcomment %}
{% endif %}
{% schema %}
{
  "name": "Quotations",
  "settings": [],
  "presets": [
    {
      "name": "Quotations"
    }
  ]
}
{% endschema %}
