{% if customer %}

  
<form id="registrationform" class="registrationform">
  <input id="firstname" name="firstname" class="firstname">
  <input id="firstname" name="lastname" class="lastname">
  <input id="emailaddress" name="emailaddress" class="emailaddress">
  <input id="contactnumber" name="contactnumber" class="contactnumber">
  <input type="hidden" value="Demo@123456">
  <button type="button">Create Customer</button>
</form>

  
{% else %}
  <script>
    window.location.replace("{{ routes.root_url }}");
  </script>
{% endif %}
{% schema %}
{
  "name": "Custom page content",
  "settings": [],
  "presets": [
    {
      "name": "Custom page content"
    }
  ]
}
{% endschema %}
